body {
    background-image: url("../images/tokyo.jpg");
    margin: auto auto;
    background-size: cover;
    opacity: .9;
}
h1, h6 {
    text-align: center;
}
.nav-wrapper {
    margin-top: 20px;
    font-family: 'Kalam', cursive;
}
.container {
    margin-top: 10px;
}
#logo-container {
    margin-left: 30px;
}
#map-results, #yelp-results, a {
    color: white;
}
#resultImage {
    max-width: 100%;
    max-height: 100%;
}