body {
    background-image: url("../images/tokyo.jpg");
    margin: auto auto;
    background-size: cover;
    opacity: .9;
    min-width: 300px;
}
h1 {
    text-align: center;
}
h4 {
    padding-top: 12px;
    margin-left: 10px;
}
h6 span {
    background-color: black;
    color: white;
}
img {
    height: 210px;
}
div #address1-error.error {
    padding-left: 43px;
}
div #address2-error.error {
    padding-left: 43px;
}
.nav-wrapper {
    margin-top: 20px;
    font-family: 'Bree Serif', serif;
}
.container {
    margin-top: 10px;
}
.popup-overlay {
    visibility:hidden;
}
.popup-content {
    visibility:hidden;
}
.popup-overlay.active{
    visibility:visible;
}        
.popup-content.active {
    visibility:visible;
}
.carousel {
    margin-top: -200px;
}
#logo-container {
    margin-left: 30px;
}
#map {
    height: 400px;  
    width: 100%;  
    margin-top: 8px;
}
#resultImage {
    max-width: 100%;
    max-height: auto;
}